<div class="header">
  <div class="container">
    <ul>
      <li>Home</li>
    </ul>
    <p>Callum Wilyman</p>
  </div>
</div>

<div class="main">
  <div class="container">
    <h2>I make rails apps.</h2>
    <a class="btn-primary" href=#>View my work</a>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p>&copy</p>
  </div>
</div>